<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=42069" >
            <section name="SLinky.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=42069" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SLinky.My.MySettings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="browserPath" serializeAs="String">
                <value>C:\Program Files\Mozilla Firefox\firefox.exe</value>
            </setting>
        </SLinky.My.MySettings>
    </userSettings>
</configuration>